$orange: #FF7006;
$black: #000000;
$dark-blue: #2B4162;
$light-blue: #0B5983;
$red: #C84630;

$primary: $orange;
$secondary: $black;

$family-sans-serif: "Fira Sans";

.content blockquote p {
  margin: 0 !important;
}