{% import "post_macros.html" as post_macros %}
{% import "index_macros.html" as index_macros %}

<!DOCTYPE html>
<html>

<head>
    {% block head %}
    {{ index_macros::header() }}

    <title>
        {% block title %}{{ config.title }}{% endblock title %}
    </title>

    {{ index_macros::css() }}

    {% if config.generate_rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml") | safe }}">
    {% endif %}

    {% if config.build_search_index %}
    <script defer type="text/javascript" src="{{ get_url(path="elasticlunr.min.js") }}"></script>
    <script defer type="text/javascript" src="{{ get_url(path="search_index.en.js") }}"></script>
    {% endif %}

    {% block extra_head %}
    {% endblock extra_head %}

    <noscript>
        <style>
            .navbar-menu {
                display: block;
            }

            .js-only {
                display: none;
            }
        </style>
    </noscript>
    {% endblock head %}
</head>

<body>
    {% block body%}
    {% block content %}
    <!-- START NAV -->
    {% block header %}
    {{ index_macros::navbar() }}
    {% endblock header %}
    <!-- END NAV -->
    <main class="index">
        <!-- START HERO TITLE -->
        {% if config.extra.zulma_title %}
          {% if config.extra.zulma_subtitle %}
            {{ index_macros::hero_with_subtitle(title=config.extra.zulma_title, subtitle=config.extra.zulma_subtitle, primary=true) }}
          {% else %}
            {{ index_macros::hero(title=config.extra.zulma_title, primary=true) }}
          {% endif %}
        {% endif %}
        <!-- END HERO TITLE -->
        <!-- <section class="section py-2"> -->
        <!--   <div class="container"> -->
            <!-- START ARTICLE FEED -->
        <!--     {% if paginator %} -->
        <!--     {{ index_macros::list_articles(pages=paginator.pages) }} -->
        <!--     {% else %} -->
        <!--     {{ index_macros::list_articles(pages=section.pages) }} -->
        <!--     {% endif %} -->
            <!-- END ARTICLE FEED -->
            <!-- START PAGINATION -->
        <!--     {% if paginator %} -->
        <!--     {{ index_macros::paginate(paginator=paginator) }} -->
        <!--     {% endif %} -->
            <!-- END PAGINATION -->
        <!--   </div> -->
        <!-- </section> -->
        <section class="section">
          <div class="container">
            <h1 class="title is-2">
              Title
            </h1>
            <div class="content is-size-5">
              <p>
                paragraph
              </p>
            </div>
          </div>
        </section>
        <section class="is-bold section is-secondary">
          <div class="container">
          </div>
        </section>

        <section class="section">
          <div class="container">
            <h1 class="title is-2">
              Placeholder
            </h1>
            <div class="content is-size-5 pt-5">
              <div class="columns">
                <div class="column is-clickable" onclick="join_handler(event)">
                  <div class="notification is-primary" style="height: 100%;">
                    <h4 class="title is-4">
                      Point1
                      <span class="mdi mdi-email-plus is-pulled-right"></span>
                    </h4>
                    <p>
                    </p>
                  </div>
                </div>
                <div class="column is-clickable" onclick="contact_handler(event)">
                  <div class="notification is-primary" style="height: 100%;">
                    <h4 class="title is-4">
                      Point2
                      <span class="mdi mdi-email-plus is-pulled-right"></span>
                    </h4>
                    <p>
                    </p>
                    <p>
                    </p>
                  </div>
                </div>
                <div class="column">
                  <a href="/make-a-change">
                    <div class="notification is-primary" style="height: 100%;">
                      <h4 class="title is-4">
                        Point3
                        <span class="mdi mdi-open-in-new is-pulled-right"></span>
                      </h4>
                      <p>
                      </p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
    </main>
    {% endblock content %}
    {% block footer %}
    {{ index_macros::footer() }}
    {% endblock footer %}

    <script type="text/javascript" src="{{ get_url(path="js/zulma_navbar.js") }}"></script>

    {% if config.build_search_index %}
    <script type="text/javascript" src="{{ get_url(path="js/zulma_search.js") }}"></script>
    {% endif %}

    {% endblock body%}
</body>

</html>
