{% extends "index.html" %}
{% import "post_macros.html" as post_macros %}
{% import "index_macros.html" as index_macros %}

{% block content %}
<!-- START NAV -->
{% block header %}
{{ super() }}
{% endblock header %}
<!-- END NAV -->
<main>
  <!-- START HERO TITLE -->
  {% if section.extra.zulma_title %}
    {{ index_macros::hero(title=section.extra.zulma_title, primary=true) }}
  {% endif %}
  <!-- END HERO TITLE !-->
  <section class="section">
    <div class="container">
      <div class="content is-size-5">
        {{ section.content | safe }}
      </div>
    </div>
  </section>
</main>
{% endblock content %}
